{% extends 'layout.html' %}

{% block body %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold">Audio Model</h1>
            <img src="../static/images_about/audio_model_acc.png" alt="accuracy">
           

            <p class="fs-5 text-break"> The confusion matrix displays the binary classification.
            </p>

            <img src="../static/images_about/audio_cm.png" alt="confusionmatrix">
        </div>
    </div>

    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5 text-center">
            <h1 class="display-5 fw-bold">Video Model</h1>
            <p class="fs-5 text-break">
                
            </p>
            <br>
            <!-- <p class="fs-5 text-break"> Content of model:
            </p>
            <img src="../static/images_about/trained_model.png" alt="trained model"> -->

            <br><br><br>

            <p class="fs-5 text-break"> The validated accuracy was 97% with a validated loss of 0.11.
            </p>

            <img src="../static/images_about/video_model_acc.png" alt="accuracy">
            <img src="../static/images_about/video_model_loss.png" alt="loss">

            <br><br><br>

            <p class="fs-5 text-break"> The confusion matrix displays the binary classification.
            </p>

            <img src="../static/images_about/video_cm.png" alt="confusionmatrix">
        </div>
    </div>

    
        </div>
    </div>
{% endblock %}